@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}


.container {
  display: flex; 
}

.left {
  margin-right: 5px; 
}

.right {
  margin-left: 5px;
}  

.left, 
.right {
  width: 50%; /* 各占一半 */
}

.right {
  display: flex;
  flex-direction: column;
  align-items: left;
}  

.right button {
  margin-bottom: 10px; 
}

.right p {
  margin-bottom: 10px;
}

.left span {
  margin-left: 40px; 
}


.right span {
  margin-left: 0px; 
}
